* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Regular.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Bold.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Light.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  

body {
    font-family: 'Open Sans', sans-serif;
}
  
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header .logo {
    color:#D1544E;
    font-size: 25px;
    font-weight: 800;
    cursor: default;
    padding-left: 100px;
}

header nav {
    padding-right: 50px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #3ABCEE;
    padding: 7px 15px;
    border-radius: 100px;
}


.main-content {
    background-color: #e6a39f  ;
    display: flex;
    justify-content: space-evenly;
    color: #5A5A5A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-text {
    position: relative;
    top: 150px;
}

.main-content h1 {
    font-size: 50px;
    color: white;
    cursor: default;
}

.main-content button {
    padding: 20px 70px;
    font-size: 25px;
    background-color: #3ABCEE;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.main-img img {
    height: 500px;
    width: 500px;
    border-radius: 330px;
}