/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Regular.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Bold.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open Sans/OpenSans-Light.woff2') format('woff2'),
         url('fonts/Open Sans/OpenSans-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Header Styles */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px;
}

header .logo-wicon {
    display: flex;
    color: #D1544E;
}

header .logo-wicon span {
    padding-left: 1px;
    font-style: italic;
}

header .logo {
    color: #D1544E;
    font-size: 32px;
    font-weight: 800;
    text-decoration: none;
    margin-left: 100px;
    font-style: italic;
}

header nav {
    padding-right: 50px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #3ABCEE;
    padding: 7px 20px;
    border-radius: 100px;
    border: 1px solid #D3D3D3;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

header nav .log-in {
    color: #5A5A5A;
    background-color: white;
    margin-right: 15px;
}

header nav .log-in:hover {
    background-color: #ededed;
}

header nav .sign-up:hover {
    background-color: #34a9d6;
}

/* Main Content Styles */
.main-content {
    background-color: #e6a39f;
    display: flex;
    justify-content: space-evenly;
    color: #5A5A5A;
    padding-top: 140px;
    padding-bottom: 130px;
    border: 1px solid #d3d3d3;
}

.main-text {
    position: relative;
    top: 150px;
    letter-spacing: 1px;
}

.main-content h1 {
    font-size: 52px;
    color: white;
    cursor: default;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content a {
    padding: 20px 50px;
    font-size: 25px;
    background-color: #3ABCEE;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    right: 5px;
    text-decoration: none;
    top: 40px;
}

.main-content a:hover {
    background-color: #34a9d6;
}

.main-img img {
    height: 500px;
    width: 500px;
    border-radius: 330px;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    padding: 13px 0px;
    font-size: 21px;
    font-weight: 700;
    background-color: white;
    gap: 90px;
}

footer a {
    text-decoration: none;
    color: #D1544E;
}

.work-hours {
    color: #34a9d6;
    cursor: default;
}

footer a:hover {
    color: #a7312b;
}

.hl {
    margin: 10px 0px;
}

