* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    position: relative;
    letter-spacing: 0.5px;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0; /* Cover the whole screen */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 999; /* Below the expanded element, above everything else */
}

.view-order  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #3ABCEE;
    border-radius: 100px;
    border: 1px solid #D3D3D3;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 7px 20px;
    gap: 30px;
}

h2 {
    color: #D1544E;
    font-size: 26px;
    cursor: default;
}

.view-order:hover {
    background-color: #34a9d6;
}

.view-order .number-icon {
    padding: 4px 10px;
    color: #3ABCEE;
    background-color: white;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
}

.view-order .order {
    letter-spacing: 0.5 px;
}

.view-order .price {
    font-weight: 500;
}

.expand-order {
    overflow: hidden;
    height: 100vh;
    width: 60vh;
    background-color: white;
    position: fixed;
    top: 20px;
    right: 100px;
    z-index: 1000;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out, max-height 0.5s ease-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}

.expand-order.show {
    opacity: 1;
    visibility: visible;
    max-height: 500px; /* Set to the maximum height you expect the content to be */
}

.expand-order .exit {
    position: relative;
    left: 520px;
    bottom: 423px;
    color: #808080;
    cursor: pointer;
}

.expand-order .exit:hover {
    color: #5A5A5A;
}

.expanded-holder {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-details {
    margin-top: 30px;
    height: 650px;
    overflow-y: auto;
}

.order-details h3 {
    cursor: default;
    font-size: 26px;
    color: #D1544E;
    font-weight: 900;
    padding-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5A5A5A;
}

.left {
    display: flex;
}

.name {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

.name > :first-child {
    font-weight: 600;
}

.name > :nth-child(2) {
    color: #34a9d6;
}

.right {
    background-color: #eaf6fa ;
    padding: 5px 10px 5px 18px;
    border-radius: 5px;
    color: #34a9d6;
}

.right * {
    padding-right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.right *:hover {
    transform: scale(1.03);
}

.right span {
    cursor: default;
    font-weight: 600;
}

.img {
    height: 50px;
    width: 80px;
    border-radius: 5px;
}

.comm-check {
    border-top: 1px solid #D3D3D3;
    padding-top: 20px;
}

.comments {
    display: flex;
    justify-content: space-between;
}

.comm-left {
    display: flex;
}

.comm-left i {
    color: #3ABCEE;
    padding-right: 15px;
}

.comm-header {
    color:#5A5A5A ;
    font-weight: 600;
    font-size: 16px;
    cursor: default;
}

.comm-desc {
    color: #5A5A5A;
    font-size: 14px;
    cursor: default;

}

.edit {
    color: white;
    background-color: #3ABCEE;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 16px;
    cursor: pointer;
}

.edit:hover {
    background-color: #34a9d6;
}

.checkout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #3ABCEE;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.checkout:hover {
    background-color: #34a9d6;
}

.order-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-nav {
    border-top: 1px solid #D3D3D3;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.menu-nav a {
    color: #5A5A5A;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 100px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.menu-nav a:hover {
    color: #D1544E;
    background-color: #f5dcdb ;

}

#menu-nav a.active {
    background-color: #f5dcdb ;
    color: #D1544E;
}


.menu {
    width: 84%;
    margin: auto;
    color: #5A5A5A;
    padding-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding-top: 10px;
}

.grid-item {
    border: 1px solid #D3D3D3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: scale 0.3s ease; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: default;
}
.grid-item:hover {
    scale: 1.03;
}

.grid-item img {
    height: 150px;
    width: 220px;
    border-radius: 5px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-item {
    border-radius: 5px;
    outline: none;
    border: 1px solid #D3D3D3;
    color: white;
    background-color: #3ABCEE;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 30px;
    width: 160px
}

.food-info {
    display: flex;
    flex-direction: column;
}

.food-info .desc {
    padding: 8px 0px;
    color: #808080;
    letter-spacing: 0.5px;
}

.food-info h3 {
    font-size: 16px;
}

.food-info .price {
    color:#34a9d6;
}

.hl {
    height: 2px;
    background-color: #D3D3D3;
}

.type {
    padding-bottom: 70px;
    padding-top: 40px;
}

.first-type {
    padding-top: 30px
}

.last-type {
    padding-bottom: 300px;
}

footer {
    border-top: 2px solid #D3D3D3;
}