* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.view-order  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #3ABCEE;
    border-radius: 100px;
    border: 1px solid #D3D3D3;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 7px 20px;
    gap: 30px;
}

h2 {
    color: #D1544E;
    font-size: 26px;
}

.view-order:hover {
    background-color: #34a9d6;
}

.view-order .number-icon {
    padding: 4px 10px;
    color: #3ABCEE;
    background-color: white;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
}

.view-order .order {
    letter-spacing: 0.5 px;
}

.view-order .price {
    font-weight: 500;
}

.order-expand {
    max-height: 0px;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu-nav {
    border-top: 1px solid #D3D3D3;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.menu-nav a {
    color: #5A5A5A;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 100px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.menu-nav a:hover {
    color: #D1544E;
    background-color: #f5dcdb ;

}

#menu-nav a.active {
    background-color: #f5dcdb ;
    color: #D1544E;
}


.menu {
    width: 84%;
    margin: auto;
    color: #5A5A5A;
    padding-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding-top: 10px;
}

.grid-item {
    border: 1px solid #D3D3D3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: scale 0.3s ease; 
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: default;
}
.grid-item:hover {
    scale: 1.03;
}

.grid-item img {
    height: 150px;
    width: 220px;
    border-radius: 5px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-item {
    border-radius: 5px;
    outline: none;
    border: 1px solid #D3D3D3;
    color: white;
    background-color: #3ABCEE;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 30px;
    width: 160px
}

.food-info {
    display: flex;
    flex-direction: column;
}

.food-info .desc {
    padding: 8px 0px;
    color: #808080;
    letter-spacing: 0.5px;
}

.food-info h3 {
    font-size: 16px;
}

.food-info .price {
    color:#34a9d6;
}

.hl {
    height: 2px;
    background-color: #D3D3D3;
}

.type {
    padding-bottom: 70px;
    padding-top: 40px;
}

.first-type {
    padding-top: 30px
}

.last-type {
    padding-bottom: 300px;
}

footer {
    border-top: 2px solid #D3D3D3;
}